#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  /* body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  } */
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: white;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    background: white;
}


  .team_wrapper {
    text-align: center;
    padding: 0;
    background: url(https://2.bp.blogspot.com/-C2ZNH3JwldA/Vupbf-HopaI/AAAAAAAADXU/xq1cJrP0LJMEylkyCr76kPNm-bxo0-7og/s1600/city-1150026_960_720.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10px;
    height: 50vh;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    color: white !important;
}

.team_wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #000;
    z-index: 1; 
}

.team_content {
    position: relative;
    z-index: 2; 
    color: white; 
}
  